<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">>

    <body>
    <h1 text-align="center">Система «Персонал» – информация о сотрудниках</h1>
    <form action="">
    <table border-style="1" cellpadding="5">
    <tr><td>Паспортные данные</td><td><input type="text" name="text"></td></tr>
    <tr><td>Образование</td><td><input type="text" name="text"></td></tr>
    <tr><td>Специальность</td><td><input type="text" name="text"></td></tr>
    <tr><td>Подразделение</td><td><select>
      <option>Администрация</option>
      <option>Бухгалтерия</option>
      <option>Отдел кадров</option>
      <option>Отдел сбыта</option>
    </select></td></tr>
    <tr><td>Должность</td><td><select>
      <option>Директор</option>
      <option>Главный бухгалтер</option>
      <option>Менеджер</option>
      <option>Секретарь</option>
    </select></td></tr>
    <tr><td>Оклад</td><td><input type="number" name="number"></td></tr>
    <tr><td>Знание языков</td><td>
    <input type="checkbox" name="languadg" value="Inglish" checked>Английский<br>
    <input type="checkbox" name="languadg" value="Rushen">Русский<br>
    <input type="checkbox" name="languadg" value="Doich" checked>Немецкий<br>
    <input type="checkbox" name="languadg" value="Spain">Испанский<br>
    </td></tr>
    <tr><td>Дата поступления в фирму и последнего назначения</td><td> 
       <p>Выберите дату: <input type="date" name="calendar"></p>
        <INPUT TYPE="reset" VALUE="Сброс">
        </head>
        </form>
    </body>
    